<h1>Translation</h1>

<p><strong>Original Text:</strong> <%= @translation.original_text %></p>
<p><strong>Translated Text:</strong> <%= @translation.translated_text %></p>
<p><strong>Source Language:</strong> <%= @translation.source_lang %></p>
<p><strong>Target Language:</strong> <%= @translation.target_lang %></p>
